PRODUCT_BUNDLE_IDENTIFIER = co.sstools.Batty
PRODUCT_NAME = Batty
MARKETING_VERSION = 1.0.0
CURRENT_PROJECT_VERSION = 1

ASSETCATALOG_COMPILER_APPICON_NAME[sdk=macos*] = AppIcon

SWIFT_VERSION = 6.0
ENABLE_APP_SANDBOX = NO
SWIFT_APPROACHABLE_CONCURRENCY = YES
SWIFT_DEFAULT_ACTOR_ISOLATION = MainActor
SWIFT_UPCOMING_FEATURE_MEMBER_IMPORT_VISIBILITY = YES

MACOSX_DEPLOYMENT_TARGET = 15.6

SUPPORTED_PLATFORMS = macosx

SUPPORTS_MACCATALYST = NO

CODE_SIGN_STYLE = Automatic
DEVELOPMENT_TEAM = XV8BAAVZ6V
//CODE_SIGN_ENTITLEMENTS = Batty/Batty.entitlements

TARGETED_DEVICE_FAMILY = 1,2

// Ensure each platform uses its own SDK root, not the macOS default
SDKROOT[sdk=macos*] = macosx
