
SWIFT_VERSION = 6.0
ENABLE_APP_SANDBOX = NO
SWIFT_APPROACHABLE_CONCURRENCY = YES
SWIFT_DEFAULT_ACTOR_ISOLATION = MainActor
SWIFT_UPCOMING_FEATURE_MEMBER_IMPORT_VISIBILITY = YES

MACOSX_DEPLOYMENT_TARGET = 15.6

SUPPORTED_PLATFORMS = macosx

SUPPORTS_MACCATALYST = NO

CODE_SIGN_STYLE = Automatic
DEVELOPMENT_TEAM = XV8BAAVZ6V
